{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="about-recipe">
  <img src="{% static 'images/my-image.JPG' %}" alt="Portrait of Amy Sikora">
  <h1>Hi, I'm Amy Sikora</h1>
  <p>
    I'm a web developer with a background in higher education and student services.
    I created this Recipe App as part of my full-stack journey to build user-friendly,
    dynamic applications using Django.
  </p>
  <p>
    Want to see more of my work or connect? Check out the links below.
  </p>

  <div class="link-buttons">
    <a href="https://amysikora.github.io/portfolio-website/" target="_blank">🌐 Portfolio</a>
    <a href="https://github.com/AmySikora" target="_blank">🐙 GitHub</a>
    <a href="https://www.linkedin.com/in/amy-sikora-freelance/" target="_blank">🔗 LinkedIn</a>
    <a href="mailto:amy.sikora77@gmail.com">✉️ Email Me</a>
  </div>
</div>
{% endblock %}
